<h2 id="edit-user-title">Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "edit-user-form", method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="user-field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="user-field">
    <%= f.label :password %> <i id="password-message">(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <em id="password-length"><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div></br>

  <div class="user-field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="user-field">
    <%= f.label :current_password %> <i id="password-message">(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="user-field">
    <label>Profile Picture</label>

    <% if @current_user.avatar.url.nil?%>
    <%=f.label :avatar do %>
    <%= f.file_field :avatar %>
    <%= f.hidden_field :avatar_cache %>
    <% end%>
    <%else %>
    <% if @current_user.avatar.url.present? %>
        <a><%= image_tag(current_user.avatar.url) %></a>
    <p>
      <%= f.file_field :avatar %>
      <%= f.hidden_field :avatar_cache %>
    <% end %>
    <label>
      <%= f.check_box :remove_avatar %>
      Remove avatar
    </label>
    </p>
  </div>
    <% end%>

  <div class="actions">
    <%= f.submit 'Update', class: "success button" %>
  </div>
<% end %>


<p><%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<!-- <%= link_to "Back", :back %> -->
