<div id="admin-page">
  <h1 id="admin-title">Admin Page</h1>
  <% if current_user.admin == true %>
    <% @users.each do |user| %>
      <div class="admin-user-tile">
        <%= user.email %>
        <%= button_to "Delete", user, :method => :delete, id: "delete-#{user.id}" %>
        <%= form_for user do |f| %>
          <%= f.label :admin, "Admin", class: "admin-label" %>
          <%= f.collection_radio_buttons :admin, @admin_collection, :first, :last, {id: "radio-button"}%>
          <%= f.submit 'Submit' %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <h1>404</h1>
  <% end %>
</div>
