<h2 id="sign-in-title">Log in</h2>

<div id-"sign-in-form">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "sign-in-form-label"}) do |f| %>
    <div class="user-field">
      <%= f.label :email, html: {class: "user-field-label"} %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="user-field">
      <%= f.label :password, html: {class: "user-field-label"} %>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="user-field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="sign-in-submit">
      <%= f.submit "Log in" %>
    </div>
  <% end %>
</div>

<div id="sign-in-links">
  <%= render "devise/shared/links" %>
</div>
