<!DOCTYPE html>
<html>
<head>
  <title>WeatherReview</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= javascript_include_tag "vendor/modernizr" %>

  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">WeatherReview</a></h1>
      </li>

    </ul>



    <section class="top-bar-section">
      <ul class="right">
        <li id="addcity"><%= link_to "Add New City",  new_city_path, class: "success button" %></li>
        <%- if current_user -%>
        <% if current_user.avatar.url.present? %>
          <li id="avatar"><%= image_tag(current_user.avatar.url) %></li>
        <% end %>
          <li><%= link_to 'Profile', edit_user_registration_path %></li>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <%- else -%>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <%- end -%>
      </ul>
    </section>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>


  <%= yield %>

  <%= javascript_include_tag 'application' %>
  <%= javascript_pack_tag 'application' %>
  <%= yield :extra_footer %>

</body>
</html>
